.custom-font {
    font-family: 'Sigmar', cursive;
}

.navbar {
  font-family: 'Sigmar', cursive;
  text-decoration: none;
  color: #fff;
  font-size: 30px
}

.entry-page {
  padding-top: 2%;
}

.welcome {
  font-family: 'Sigmar', cursive;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.table-link {
  color: black;
}